*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 243, 253);
    font: caption;
    overflow-x: hidden;
}

header{
    height: 125vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/mainBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.logo img{
    height: 45px;
    width: 120px;

}
ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
#navRight a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
hr{
    margin: 0px 100px;
}
.headerContent{
    margin: 85px 0px 0px 150px;
}
.headerContent h1{
    width: 800px;
    color: white;
    font-weight: bolder;
    font-size: 4.5rem;
    margin-bottom: 30px;
}
.headerContent p{
    width: 410px;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
}
.headerContent button{
    height: 50px;
    width: 160px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: rgb(92, 92, 244);
    color: white;
    font-size: 18px;
}
.logoname{
    background-color: #fff;
    margin: 0 35px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    position: relative;
    bottom: -325px;
}

.mainHeading .section1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainHeading h1{
    margin: 200px 0px 50px 0px;
    font-size: 4rem;
    width: 600px;
    text-align: center;
}

.cards{
    height: 100%;
    width: 100%;
    gap: 3rem;
    margin: 0px 100px;
    /* justify-content: space-evenly;
    align-items: center; */
    /* flex-wrap: wrap; */
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit,minmax(350px,400px));
    position: relative;

}

.card{
    position: relative;
    
}
.cards div:nth-child(2) {
    margin-top: 50px;
}
.cards div:nth-child(3) {
    margin-top: 100px;
}
.cards div:nth-child(4) {
    margin-top: 160px;
}
.cards div:nth-child(5) {
    margin-top: 100px;
}
.cards div:nth-child(6) {
    margin-top: 40px;
}
.cards div:nth-child(7) {
    margin-top: 40px;
}
.cards div:nth-child(8) {
    margin-top: 100px;
}
.cards div:nth-child(9) {
    margin-top: 160px;
}


.card img{
    height: 400px;
    width: 366px;
    object-fit: cover;
    border-radius: 20px;
}

.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    margin-left: 24px;

}

.text{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 18px;
}
.text p{
    color: rgb(80, 80, 237);
    font-weight: 700;
    font-size: 1.3rem;
}
.items button{
    height: 50px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: #3573f0;
    color: white;
    font-size: 16px;
}
